{{ include_sibling 'pre_canvas.html' }}
<div id="drawing_buttons">
    <button id="clearButton" class="btn btn-danger">Reset</button>
    <button id="undoButton"class="btn btn-warning">Undo</button>
</div>
<script>
    const SVGelement = document.getElementById('svgElement');
    const drawing = document.getElementById('drawing');
    // Creates a new drawer object using the SVG element
    drawer = new Drawer(SVGelement, {hiddenElement: drawing});
    drawing.addEventListener('change', (e) => { liveSend(drawing.value) });
    // Adds event listeners and handlers for utility functions
    document.getElementById('clearButton').addEventListener('click', (e) => { e.preventDefault(); drawer.clearSVG(); } );
    document.getElementById('undoButton').addEventListener('click', (e) => { e.preventDefault(); drawer.undoAction(); });
</script>