<style>
    #canvas {
        margin-left: auto;
        margin-right: auto;
        width: 800px; /* EDIT TO CHANGE WIDTH */
        position: relative;
    }

    /* #canvas button {
        margin: 0 5px;
    } */
    #canvas .svgContainer {
        background-color: white; /* EDIT TO CHANGE BACKGROUND COLOR */
        border: 2px solid black;
        border-radius: 5px;
        margin: 0 0 20px 0;
        box-shadow: 5px 5px 5px rgb(51, 51, 51);
        position: relative;
    }

    #canvas .svgElement {
        text-align: center;
        display: block;
        width: 100%;
        height: 600px; /* EDIT TO CHANGE HEIGHT */
        white-space: pre;
    }

    #canvas .loading-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #canvas .loading-spinner .spinner-border {
        width: 300px;
        height: 300px;
        animation-duration: 5s;
        border-width: 10px;
    }
    #canvas .waiting-text {
        margin-top: 20px;
        text-align: center;
        font-size: 30px;
    }
    /** Hide elements until we are ready */
    #canvas, #canvas .loading-spinner, .drawing-buttons, #waiting, #done, #select, #continue, #timeout-warning {
        display:none;
    }
</style>
<div id="waiting" class="container">
    <div class="card">
        <h4 class="card-header">
            Please wait
        </h4>
        <div class="card-body">
            <p>Waiting for other player</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="stim-container" class="container"></div>
    <div class="d-flex justify-content-end mb-4">
        <button type="button" id="select" class="btn btn-primary">Select</button>
        <button type="button" id="continue" class="btn btn-primary">Continue</button>
    </div>
</div>
<div id="canvas">
    <!-- Modal -->
    <div class="modal fade" id="clearDrawing" tabindex="-1" role="dialog" aria-labelledby="clearDrawingLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="clearDrawingLabel">Are you sure?</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    Please confirm you would like to clear the current drawing and reset to a blank canvas.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, this was a mistake</button>
                    <button type="button" id="clearButton" class="clearButton btn btn-danger" data-bs-dismiss="modal">Yes, please clear</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal -->

    <div class="svgContainer">
        <svg xmlns="http://www.w3.org/2000/svg" class="svgElement" x="0px" y="0px" viewBox="0 0 800 600"></svg>
    </div>
    <div class="loading-spinner">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Waiting...</span>
        </div>
        <div class="waiting-text">Waiting for other player...</div>
    </div>
    <input type="hidden" name="drawing" class="drawing" />
</div>
<div class="drawing-buttons container">
    <div class="row">
        <div class="col-3 d-flex gap-2">
            <button type="button" data-bs-toggle="modal" style="height:38px" data-bs-target="#clearDrawing" class="btn btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                </svg>
                Reset
            </button>
            <button type="button" id="undoButton" style="height:38px" class="undoButton btn btn-warning">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z"/>
                    <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466"/>
                </svg>
                Undo
            </button>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <div id="timeout-warning" class="alert alert-warning" role="alert">
                <strong>Note:</strong> You have <span id="time-left"></span> seconds left to finish drawing.
            </div>
        </div>
        <div class="col-3 justify-content-end d-flex">
            <button type="button" id="done" style="height:38px" class="align-self-right btn btn-primary">Done</button>
        </div>
    </div>
</div>
<script src="{{ static 'drawer.js' }}"></script>
<script>

    const trialIdEl = document.getElementById('trial-id');
    // const numTrialsEl = document.getElementById('num-trials');
    // Containers
    const containerEl = document.getElementById('canvas');
    const svgContainer = document.getElementsByClassName('svgContainer').item(0);
    const buttonContainer = document.getElementsByClassName('drawing-buttons').item(0);
    const stimContainer = document.getElementById('stim-container');
    
    // Waiting page / spinner
    const waiting = document.getElementById('waiting');

    // timeout warning
    const timeoutWarning = document.getElementById('timeout-warning');

    // Buttons
    const clearBtn = document.getElementById('clearButton');
    const undoBtn = document.getElementById('undoButton');
    const doneBtn = document.getElementById('done');
    const selectBtn = document.getElementById('select');
    const continueBtn = document.getElementById('continue');

    // SVG element and hidden input
    var SVGelement = document.getElementsByClassName('svgElement').item(0);
    var drawing = document.getElementsByClassName('drawing').item(0);

    // Drawer object
    var drawer;


    /**
     * Clones a node and replaces it with the clone
     * 
     * @param {Node} oldNode - The node to clone
     * @param {Node} parentNode - The parent node of the node to clone
     * @param {boolean} deep - Whether to clone the children of the node
     * @returns {Node} - The new node
     */
    function cloneAndResetNode(oldNode, parentNode, deep = false) {
        var newNode = oldNode.cloneNode(deep);
        parentNode.replaceChild(newNode, oldNode);
        return newNode;
    }

    function clearEvent(e) {
        e.preventDefault();
        drawer.clearSVG();
    }

    function undoEvent(e) {
        e.preventDefault();
        drawer.undoAction();
    }

    function doneEvent(e) {
        e.preventDefault();
        liveSend({
            'event': 'drawing_complete',
            'drawing': drawing.value,
            'timeout': false
        });
        // show waiting message
        reset();
        initWaiting();
    }

    function drawingTimeout() {
        liveSend({
            'event': 'drawing_complete',
            'drawing': drawing.value,
            'timeout': true
        });
        // show waiting message
        reset();
        initWaiting();
    }

    function selectEvent(e) {
        e.preventDefault();
        liveSend({
            'event': 'stimulus_selected',
            'stim': e.target.value
        });
        // enable the done button
        selectBtn.disabled = false;
    }

    function doneSelectEvent(e) {
        e.preventDefault();
        liveSend({
            'event': 'response_complete',
            'response': document.querySelector('input[name="stimulus"]:checked').value
        });
        // show waiting message
        reset();
        initWaiting();
    }

    function continueEvent(e) {
        e.preventDefault();
        liveSend({
            'event': 'continue'
        });
        // show waiting message
        reset();
        initWaiting();
    }

    function displayStimuli(stims, correct='', selected = '') {
        // clear the container
        stimContainer.innerHTML = '';
        const disabled = correct !== '';
        const n_cols = stims.length > 12 ? 4 : 2;
        const response_correct = selected !== '' && correct === selected;
        stimContainer.classList.add('row', 'row-cols-' + n_cols);
        console.log("correct", correct, "selected", selected, "response_correct", response_correct)
        // create a new div for each stimulus
        stims.forEach((stim, i) => {
            var div = document.createElement('div');
            var input = document.createElement('input');
            var label = document.createElement('label');
            const stim_correct = correct !== '' && correct === stim;
            const stim_selected = selected !== '' && selected === stim;

            div.classList.add('stimulus', 'col', 'align-self-center');
            input.type = 'radio';
            input.name = 'stimulus';
            input.autocomplete = 'off';
            input.classList.add('btn-check');
            
            input.value = stim;
            input.id = 'stim' + i;
            label.htmlFor = 'stim' + i;
            label.innerText = stim;
            label.classList.add('w-100', 'mb-2', 'btn');

            if (disabled) { // either for the drawer of summary
                input.disabled = true;
                if (!stim_correct) {
                    if (stim_selected) {
                        label.classList.add('btn-danger');
                        // force opacitiy 1
                        label.style.opacity = 1;
                        // make border thicker
                        label.style.borderWidth = '3px';
                        // border black
                        label.style.borderColor = 'black';
                        input.checked = true;
                    } else {
                        label.classList.add('btn-outline-secondary');
                    }
                } else {
                    label.classList.add('btn-success');
                    // force opacitiy 1
                    label.style.opacity = 1;
                    label.style.borderWidth = '3px';
                    if (stim_selected) {
                        label.style.borderColor = 'black';
                        input.checked = true;
                    } else {
                        label.style.borderColor = '#004400';
                        // dashed border
                        label.style.borderStyle = 'dashed';
                    }
                    
                }
                
            } else { // this is for the responder
                input.addEventListener('change', selectEvent);
                label.classList.add('btn-outline-primary');
            }

            
            div.appendChild(input);
            div.appendChild(label);
            stimContainer.appendChild(div);
        });
        // show the done button, if we are the responder
        if (correct === '') {
            selectBtn.addEventListener('click', doneSelectEvent);
            selectBtn.style.display = 'block';
            selectBtn.disabled = true;
        } else if (selected !== '') {
            continueBtn.addEventListener('click', continueEvent);
            continueBtn.style.display = 'block';
        }
    }

    function hideAndRemoveEvent(element, fn, event = 'click') {
        element.style.display = 'none';
        element.removeEventListener(event, fn);
    }

    function reset() {
        // hide canvas
        containerEl.style.display = 'none';
        // remove stimuli
        stimContainer.innerHTML = '';
        // hide waiting message
        hideWaiting();
        // hide timeout warning
        timeoutWarning.style.display = 'none';
        // hide buttons
        buttonContainer.style.display = 'none';
        hideAndRemoveEvent(doneBtn, doneEvent);
        hideAndRemoveEvent(clearBtn, clearEvent);
        hideAndRemoveEvent(undoBtn, undoEvent);
        hideAndRemoveEvent(selectBtn, doneSelectEvent);
        hideAndRemoveEvent(continueBtn, continueEvent);

        // shallow clone to remove event listeners
        SVGelement = cloneAndResetNode(SVGelement, svgContainer);
        drawing = cloneAndResetNode(drawing, containerEl);

    }


    function initCanvas(update = true, readOnly = false){
        // Creates a new drawer object using the SVG element
        console.log("setting up drawer");
        // show buttons
        if (!readOnly) {
            buttonContainer.style.display = 'block';
            doneBtn.style.display = 'block';
            clearBtn.style.display = 'block';
            undoBtn.style.display = 'block';
        }
        // show SVG element
        containerEl.style.display = 'block';
    
        drawer = new Drawer(SVGelement, {hiddenElement: drawing, readOnly: readOnly, strokeWidth: 8});
        if (update && !readOnly) {
            drawing.addEventListener('change', (e) => {
                liveSend({
                    'event': 'update',
                    'drawing': drawing.value
                }); 
            });
        }
        if (!readOnly) {
            // Adds event listeners and handlers for utility functions
            clearBtn.addEventListener('click', clearEvent);
            undoBtn.addEventListener('click', undoEvent);
            doneBtn.addEventListener('click', doneEvent);
        }
    }

    function initWaiting() {
        // show waiting message
        waiting.style.display = 'block';
    }

    function hideWaiting() {
        // hide waiting message
        waiting.style.display = 'none';
    }

    // set up a timeout
    var timeLeft;

    function initTimeout(time, showWarningAt = 15) {
        timeleft = time;
        const interval = setInterval(() => {
            timeLeft -= 1;
            if (timeLeft <= 0) {
                clearInterval(interval);
                drawingTimeout();
            } else {
                if (timeLeft <= showWarningAt) {
                    timeoutWarning.style.display = 'block';
                    timeoutWarning.querySelector('#time-left').innerText = Math.round(timeLeft);
                }
            }
        }, 1000);
    }

    // listen for messages from the server
    function liveRecv(data) {
        const completed = Object.keys(data).includes('completed') && data.completed === true;
        const is_drawer = Object.keys(data).includes('drawer') && data.drawer === true;
        const has_drawing = Object.keys(data).includes('drawing') && data.drawing !== null && data.drawing !== "";
        const drawing_contents = has_drawing ? data.drawing : null;
        const event = Object.keys(data).includes('event') ? data.event : null;
        const stims = Object.keys(data).includes('stims') ? data.stims : [];
        const correct_stim = Object.keys(data).includes('correct_stim') ? data.correct_stim : '';
        const response = Object.keys(data).includes('response') ? data.response : '';
        const response_correct = Object.keys(data).includes('response_correct') ? data.response_correct : false;
        const response_completed = Object.keys(data).includes('response_completed') ? data.response_completed : false;
        const player_ready = Object.keys(data).includes('player_ready') ? data.player_ready : false;
        const trial_id = Object.keys(data).includes('trial_id') ? data.trial_id : 0;
        const phase_complete = Object.keys(data).includes('phase_complete') ? data.phase_complete : false;
        const time_left = Object.keys(data).includes('time_left') ? data.time_left : 0;
        // const num_trials = Object.keys(data).includes('num_trials') ? data.num_trials : 0;

        switch (event) {
            case 'init':
                reset();
                trialIdEl.innerText = trial_id;
                // numTrialsEl.innerText = num_trials;
                // if we are the person drawing and we haven't said we're finished
                if (is_drawer && !completed) {
                    if (time_left <= 0) {
                        drawingTimeout();
                        break;
                    }
                    timeLeft = time_left;
                    initTimeout(timeLeft);
                    displayStimuli(stims, correct_stim);
                    initCanvas();
                    if (has_drawing) Helper.importSVG(drawer, drawing_contents);

                // if we're the responder and the drawing has been completed
                } else if (!is_drawer && completed && !response_completed) {
                    // here we will show the response options and the drawing (readonly)
                    displayStimuli(stims, correct_stim);
                    initCanvas(false, true);
                    if (has_drawing) Helper.importSVG(drawer, data.drawing);
                } else {
                    if (!response_completed || player_ready) {
                        initWaiting();
                    } else {
                        // both players can reveiw the results
                        console.log("reviewing results", correct_stim, response, response_correct);
                        displayStimuli(stims, correct_stim, response);
                    }
                }
                break;
            case 'drawing_complete':
                // if we are the drawer, we should show the waiting message
                if (is_drawer) {
                    reset();
                    initWaiting();
                } else {
                    // if we are the responder, we should show the drawing
                    hideWaiting();
                    displayStimuli(stims, correct_stim);
                    initCanvas(false, true);
                    if (has_drawing) Helper.importSVG(drawer, data.drawing);
                }
                break;
            case 'show_response':
                // both players get to see the results
                hideWaiting();
                displayStimuli(stims, correct_stim, response);
                break;
            case 'continue':
                // players have both reviewed and now start the next trial
                if (!phase_complete) {
                    liveSend({'event': 'init'});
                } else {
                    // submit the form to move to the next page
                    document.getElementById('form').submit();
                }
                break;
            case 'remaining_time':
                timeLeft = data.time_left;
                break;
        }
    }



    document.addEventListener("DOMContentLoaded", (event) => {
        // send a message to the server to indicate that the page is ready
        liveSend({'event': 'init'});
    });
</script>