<style>
    #canvas {
        margin-left: auto;
        margin-right: auto;
        width: 800px; /* EDIT TO CHANGE WIDTH */
        position: relative;
    }

    #canvas button {
        margin: 0 5px;
    }
    #canvas #svgContainer {
        background-color: white; /* EDIT TO CHANGE BACKGROUND COLOR */
        border: 2px solid black;
        border-radius: 5px;
        margin: 0 0 20px 0;
        box-shadow: 5px 5px 5px rgb(51, 51, 51);

    }

    #canvas #svgElement {
        text-align: center;
        display: block;
        width: 100%;
        height: 600px; /* EDIT TO CHANGE HEIGHT */
    }

    #canvas #button_div {
        display: flex;
    }

    #canvas #submit {
        margin-left: auto;
    }

    #canvas #loading-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }
    #canvas #loading-spinner .spinner-border {
        width: 300px;
        height: 300px;
        animation-duration: 5s;
        border-width: 10px;
    }
    #canvas #waiting-text {
        margin-top: 20px;
        text-align: center;
        font-size: 30px;
    }
</style>
<div id="canvas">
    <div id="svgContainer">
        <svg xmlns="http://www.w3.org/2000/svg" id="svgElement" x="0px" y="0px" xml:space="preserve"></svg>
    </div>
    <div id="loading-spinner">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Waiting...</span>
        </div>
        <div id="waiting-text">Waiting for other player...</div>
    </div>
</div>
<input type="hidden" name="drawing" id="drawing" />
<script src="{{ static 'drawer.js' }}"></script>